body{
    color:white;
    background-color:#4E3D42;
    padding: 30px 100px 100px 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container{
    display:flex;
    height:40px;
    width:640px;
}

.inside{
    flex: 1 1 auto;
    height: 40px;
    width:40px;
    max-width: 40px;
}

.grid{
    flex: 0 1 auto;
    background-color: white;
    height:640px;
    width:640px;
}

h1{
    color: #C9D5B5;
}

.content{
    flex: 1 2 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    height:30px;
    margin-top:10px;
}

p{
    margin-top:-10px;
}